/* Body */
body {
  background-image: url('http://www.wyomingmn.org/vertical/sites/%7B42A4B1FD-5852-47F4-9CA2-BF7F0675E0FD%7D/uploads/Park_Overview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */
.page-header {
  color: white;
  height: 50px;
  left: -100px;
  text-align: left;

}

h1 {
  color: white;
  left: -100px;
  text-align: left;
}

/* Sidebar */

 #sidebar-wrapper {

	float: left;
 	color: white;
 	list-style: none;

 }

 .sidebar-nav{
 	list-style: none;
 	padding-left: 0;
 }

 #sidebar-brand {
 	color: white;
 }

.sidebar-nav *{
	color: white;
}

/* Results */
.results {
    
    width: 75%;
    display: inline-block;

}

.panel {
	margin: 0 0 0 15%;
}

.panel-heading {
	background-color: lemonchiffon;
	color: white;
	overflow-x: auto;
}