/* Body */
body {
  background-image: url('http://88nn.info/uploads/fotos/12/img_418339.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */
.page-header {
  color: white;
  height: 50px;
  left: -100px;
  text-align: left;

}

h1 {
  color: white;
  left: -100px;
  text-align: left;
}

/* Sidebar */

 #sidebar-wrapper {

	float: left;
 	color: white;
 	list-style: none;

 }

 .sidebar-nav{
 	list-style: none;
 	padding-left: 0;
 }

 #sidebar-brand {
 	color: white;
 }

.sidebar-nav *{
	color: white;
}

/* Results */
.results {
    
    width: 75%;
    display: inline-block;

}

.panel {
	margin: 0 0 0 15%;
}

.panel-heading {
	background-color: lemonchiffon;
	color: white;
	overflow-x: auto;
}