/* Body */
body {
  background-image: url('http://88nn.info/uploads/fotos/12/img_418339.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */
.page-header {
  font color: white;
  color: white;
  height: 50px;
  left: -100px;
  text-align: left;

}

h1 {
  font color: white;
  color: white;
  left: -100px;
  text-align: left;
}


/* Results */
.results {
    
    width: 100%;

}

.panel-heading {
	background-color: lemonchiffon;
	color: white;
	overflow-x: auto;
}